.introBody {
  /*background-image: url(../Images/shortrib1-food-truck-BG.jpg);*/
}

#truckBody {
  background-image: url(../Images/italian-street-food.jpg);
}

.introNav {
  width: 60%;
  height: 150px;
  margin: 0 auto;
  background-color: maroon;
  color: white;
  border-radius: 75px;
}

.iHeaderText {
  line-height: 164px;
  /*text-align: left;*/
  margin-left: 55px;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 80px;
}

.iNavIcon {
  position: relative;
  left: 15px;
  top: 10px;
}

.iconDiv {
  float: right;
  /*margin-right: 40px;*/
  position: relative;
  bottom: 146px;
  right: 40px;
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 75px;
}

#landingPageNav {
  height: 150px;
  width: 90%;
  border-radius: 80px;
  margin: 0 auto;
  background-color: teal;
  position: relative;
    top: 20px;
}

.upperLanding {
  height: 350px;
  /*background-color: white;*/
  background-image: url(../Images/fries.jpg);

}

.lowerLanding {
  height: 350px;
  background-color: teal;

}

.loginDiv {
  text-align: center;
  margin-top: 80px;
}

.loginButton {
  text-align: center;
}

.logOut{
  margin-left:20px;
}
.sendFavorite {
  font-size: 25px;
}

#gLogin {
margin-left: 200px;
}

#noLogin {
margin-right: 200px;
}

.truckTable {
  overflow: auto;
}

.searchWrapper {
  width: 300px;
  position: relative;
  left: 50px;
}

.searchField {
  display: inline-block;
}

#map {
  height: 400px;
  width: 45%;
  border-style: solid;
  border-color: teal;
  border-width: 10px;
  margin-top: 40px;
  margin-left: 30px;
  padding: 5px;
  position: fixed !important;
 }

 /*.sticky-block {
   max-width: 585px;
 }*/

#truckNav {
  height: 100px;
  border-radius: 15px;
  line-height: 100px;
  width: 95%;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#mapContainer {
  position: fixed;
}

.sendFavorite {
  margin: 0 auto;
  margin: 10px;
}

#right {
  position: relative;
  top: 40px;
  float: right;
  margin-right: 25px;
  background-color: teal;
  border-radius: 15px;
}

th {
  text-align: center;
}

td {
  display: inline-block;
  margin: auto;
}

#foodInput {
  width: 300px;
}


 @media screen and (max-width: 1200px) {

   .iHeaderText {
     line-height: 164px;
     /*text-align: left;*/
     margin-left: 55px;
     font-family: 'Baloo Bhaina', cursive;
     font-size: 60px;
   }

   .introNav {
     width: 60%;
     height: 150px;
     margin: 0 auto;
     background-color: maroon;
     color: white;
     border-radius: 75px;
   }

 }

 @media screen and (max-width: 980px) {

   .iHeaderText {
     line-height: 164px;
     /*text-align: left;*/
     margin-left: 55px;
     font-family: 'Baloo Bhaina', cursive;
     font-size: 40px;
   }

   .introNav {
     width: 60%;
     height: 150px;
     margin: 0 auto;
     background-color: maroon;
     color: white;
     border-radius: 75px;
   }

   .iNavIcon {
     position: relative;
     left: 15px;
     top: 10px;
    height: 40px;
    width: 40px;
   }

   .iconDiv {
     float: right;
     /*margin-right: 40px;*/
     position: relative;
     bottom: 146px;
     right: 40px;
     background-color: white;
     height: 60px;
     width: 60px;
     border-radius: 75px;
   }

 }


/*modal*/



/* Modal Content/Box */
.modal-content, .modal-window {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .removeItem {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.removeItem:hover,
.removeItem:focus,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.right{
  margin-top:30px;
}

.addNewLogin{
  display: inline-block; 
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;"
}

.loginLogo{
  width:100px;
  position:absolute;
  top:0;
  right:0;
  
}