.introBody {
  background-image: url(../Images/shortrib1-food-truck-BG.jpg);
}

.introNav {
  width: 60%;
  height: 150px;
  margin: 0 auto;
  background-color: maroon;
  color: white;
  border-radius: 75px;
}

.iHeaderText {
  line-height: 164px;
  /*text-align: left;*/
  margin-left: 55px;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 80px;
}

.iNavIcon {
  position: relative;
  left: 15px;
  top: 10px;
}

.iconDiv {
  float: right;
  /*margin-right: 40px;*/
  position: relative;
  bottom: 146px;
  right: 40px;
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 75px;
}

.nav {
  height: 100px;
  width: 95%;
  margin: 0 auto;
  color: maroon;
}

.loginDiv {
  text-align: center;
  margin-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.loginButton {
  margin: 10px;
  width: 300px;
  height: 40px;
  text-align: center;
}

#gLogin {

}

#noLogin {

}

#map {
  height: 400px;
  width: 40%;
  border-style: solid;
  border-color: blue;
  margin-top: 40px;
  margin-left: 10px;
  padding: 5px;
  position: fixed !important;
 }

 /*.sticky-block {
   max-width: 585px;
 }*/

#truckNav {
  vertical-align: middle;
}

#tableTitle {
  text-align: center;
}

#mapContainer {
  position: fixed;
}

.sendFavorite {
  margin-top: 5px;
}

#right {
  float: right;
}


 @media screen and (max-width: 1200px) {

   .iHeaderText {
     line-height: 164px;
     /*text-align: left;*/
     margin-left: 55px;
     font-family: 'Baloo Bhaina', cursive;
     font-size: 60px;
   }

   .introNav {
     width: 60%;
     height: 150px;
     margin: 0 auto;
     background-color: maroon;
     color: white;
     border-radius: 75px;
   }

 }

 @media screen and (max-width: 980px) {

   .iHeaderText {
     line-height: 164px;
     /*text-align: left;*/
     margin-left: 55px;
     font-family: 'Baloo Bhaina', cursive;
     font-size: 40px;
   }

   .introNav {
     width: 60%;
     height: 150px;
     margin: 0 auto;
     background-color: maroon;
     color: white;
     border-radius: 75px;
   }

   .iNavIcon {
     position: relative;
     left: 15px;
     top: 10px;
    height: 40px;
    width: 40px;
   }

   .iconDiv {
     float: right;
     /*margin-right: 40px;*/
     position: relative;
     bottom: 146px;
     right: 40px;
     background-color: white;
     height: 60px;
     width: 60px;
     border-radius: 75px;
   }

 }
